<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%=appTitle%></title>
    <link rel="shortcut icon" href="./public/tomatodo/img/tomato_32.png">
    <link rel="stylesheet" href="./public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="./public/tl/css/favor.css">
    <%-stylesheets%>
    <style type="text/css">

    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="./public/jquery/jquery-1.10.0.js"></script>
    <script src="./public/jquery/jquery.timer.js"></script>
    <script src="./public/jquery/jquery.cookie.js"></script>
    <script src="./public/jquery/jquery.input.js"></script>
    <script src="./public/underscore.js"></script>
    <script src="./public/backbone.js"></script>
    <script src="./public/backbone.localStorage.js"></script>
    <script src="./public/bootstrap/js/bootstrap.js"></script>
    <script src="./public/tl/js/favor.js"></script>
    <%-scripts%>
</head>
<body>
<div>

    <header>
        <div class="navbar navbar-inverse1 navbar-fixed-top"><div class="navbar-inner"><div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".head-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <div style="font-weight: bold;">
                    <!--<img class="logo" src="../public/tomatodo/img/tomato2_32.png">-->
                    <%=appName%>
                </div>
            </a>

            <div class="nav-collapse head-collapse">
                <ul class="nav">
                    <li class="">
                        <a href="javascript:" class="link" set="home"><i class="icon-home"></i> 首页</a>
                    </li>
                    <li class="">
                        <a href="javascript:" class="link" set="my"><i class="icon-user"></i> 个人空间</a>
                    </li>
                    <li class="">
                        <a href="javascript:" class="link" set="catalog"><i class="icon-th-list"></i> 萌装</a>
                    </li>
                    <li class="">
                        <a href="javascript:" class="link" set="actors"><i class="icon-star"></i> 萌主</a>
                    </li>
                    <li class="">
                        <a href="javascript:" class="link" set="contribute"><i class="icon-question-sign"></i> 想怎样</a>
                    </li>
                    <li class="">
                        <a href="javascript:" class="link" set="about"><i class="icon-info-sign"></i> 关于</a>
                    </li>
                    <li class="">
                        <form accept-charset="UTF-8" action="/search" class="navbar-search" id="nav_search" method="get">
                            <div style="margin:0;padding:0;display:inline">
                                <input name="utf8" type="hidden" value="✓">
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="input-medium search-query " name="q" type="search">
                            <a href="javascript:" class="link"><i class="icon-search"></i></a>
                        </form>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li class="">
                        <a href="javascript:" class="link">登陆</a>
                    </li>
                    <li class="">
                        <a href="javascript:" class="link">注册</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->

        </div></div></div>
    </header>

    <nav>
        <div class="">
        </div>
    </nav>

    <section>
        <%-body -%>
    </section>

    <footer>
        <div class="navbar navbar-fixed-bottom" ><div class="navbar-inner"><div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".foot-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse foot-collapse">
                <ul class="nav">
                    <li>
                        <a href="javascript:">&copy; 2013 <%=appCreator%></a>
                    </li>
                </ul>
            </div>

        </div></div></div>
    </footer>
</div><!-- top container -->
</body>
</html>